<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% if page_title %} {{page_title}} {% else %} Главная страница {% endif %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script language="JavaScript">
        function showAlert(p_title, p_message) {
            var m_ttl = document.getElementById('mdlWindowTitle');
            if (m_ttl) {
                m_ttl.innerHTML = p_title;
            }
            var m_ttl = document.getElementById('mdlInfo');
            if (m_ttl) {
                m_ttl.innerHTML = p_message;
            }
            $("#mdlWindow").modal('show');
        }
    </script>
</head>
<body>
    <div class="container">
        <div class="row navbar-expand-lg navbar-dark bg-dark">
            <div class="col">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item{% if not page %} active {% endif %}">
                        <a class="nav-link" href="/">Главная</a>
                    </li>
                    {% if '1' == is_admin %}
                    <li class="nav-item{% if 'getstats' == page %} active {% endif %}">
                        <a class="nav-link" href="/getstats/">Создать запрос</a>
                    </li>
                    {% endif %}
                    <li class="nav-item{% if 'results' == page %} active {% endif %}">
                        <a class="nav-link" href="/results">Статистика</a>
                    </li>
                    <li class="nav-item{% if 'about' == page %} active {% endif %}">
                        <a class="nav-link" href="/about">Контакты</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-auto">&nbsp;</div>
            <div class="col col-lg-2">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item{% if page in ('login','logout') %} active {% endif %}">
                        {% if is_admin == '1' %}
                        <a class="nav-link" href="/logout">Выход</a>
                        {% else %}
                        <a class="nav-link" href="/login">Служебный вход</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <br/><br/>
        <div>{% block content %}
            {% if not page %}
            <div class="alert alert-dark" role="alert"><h5>Сервис сбора статистики</h5></div>
            <p>
                <hr/>
                Предоставляет возможность собрать статистику о величине заработной платы
                и требующихся навыках по интересующим вакансиям базы сайта HeadHunter.<br/>
                Допускает использовать в поисковой строке
                синтаксис запросов HeadHunter и дополнительно выбирать интересующие регионы.<br/>
                Использует API, предоставляемый сайтом.<br/>
                Сбор статистики доступен только специально обученным людям, которые знают секретный секрет.
                <hr/>
                <a href="/{% if '1' == is_admin %}getstats{% else %}results{% endif %}/" class="btn btn-dark btn-sm active" role="button" aria-pressed="true">
                    Понеслась...
                </a>
            </p>
            {% else %}
            Страница "{{ page }}" не существует на сервере.
            {% endif %}
            {% endblock %}
        </div>
    </div>
    <div class="modal fade" id="mdlWindow" tabindex="-1" role="dialog" aria-labelledby="mdlWindowTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="mdlWindowTitle">Modal title</h5>
                </div>
                <div class="modal-body" id="mdlInfo">
                    Выполняется запрошенное действие, пожалуйста, подождите.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="mdlCloseButton">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>