{% macro show_items(p_list, p_lvl=0)%}
    {% for item in p_list %}
    {% set m_tab = '-'*p_lvl %}
    <option value="{{ item.id }}">{{'-'*p_lvl}} {{ item.name }}</option>
    {% if item.areas %}
        {{ show_items(item.areas, p_lvl+1) }}
    {% endif %}
    {% endfor %}
{% endmacro %}

{% extends 'index.html' %}
{% block content %}
        <h5>Задайте параметры для поиска:</h5>
        <hr/>
        <form method="post" action="/getstats/">
            <div class="form-group">
                <input type="text" placeholder="Введите Ваш запрос здесь" name="text" class="form-control">
            </div>
            <div class="form-group">
                <select class="form-control" name="area">
                    <option selected disabled value="-1">Выберите регион из списка</option>
                    {% if areas %}
                        {{ show_items(areas) }}
                    {% else %}
                        <option disabled value="-2">Ошибка формирования списка.</option>
                    {% endif %}
                </select>
            </div>
            <input type="submit" class="btn btn-dark btn-sm">
        </form>
        <hr/>
{% endblock %}