{% extends 'index.html' %}
{% block content %}
        <br/><br/>
        <h5>Статистика по запросу</h5>
        <p>
            <hr/>
            {% if m_table %}
            <table class="table table-sm">
                <thead class="thead-light">
                    <tr>
                        <th colspan="2" scope="col">
                            Общая информация
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Запрос:</th>
                        <td>{{ m_table.text }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Регион:</th>
                        <td>{{ m_table.area_name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Найдено вакансий:</th>
                        <td>{{ m_table.count }}</td>
                    </tr>
                </tbody>
            </table>
            <br/><br/>
            <table class="table table-sm">
                <thead class="thead-light">
                    <tr>
                        <th colspan="2" scope="col">
                            Информация о заработной плате
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Средний уровень:</th>
                        <td>{{ m_table.avg_salary }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Минимальное предложение:</th>
                        <td>{{ m_table.min_salary }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Максимальное предложение:</th>
                        <td>{{ m_table.max_salary }}</td>
                    </tr>
                </tbody>
            </table>
            <br/><br/>
            <h5>Список запрошенных работодателем профессиональных навыков:</h5>
                {% if m_table.skills %}
                <table class="table table-sm">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Профессиональный навык</th>
                            <th scope="col">Количество запросов</th>
                            <th scope="col">Относительный вес</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for x in m_table.skills %}
                        <tr>
                            <th scope="row">{{ x[0] }}</th>
                            <td>{{ x[1] }}</td>
                            <td>{{ "%.2f"|format(x[1] / m_table.total_wgt * 100)}}</td>
                        </tr>
                        {% endfor %}
                        <!--
                        <tr>
                            <td colspan="3" align="right">
                                <a
                                   href="#" class="btn btn-dark btn-sm active" role="button" aria-pressed="true"
                                   onclick="return false;"
                                >
                                    Ещё >>>
                                </a>
                            </td>
                        </tr>
                        -->
                    </tbody>
                </table>
                {% else %}
                Данных не найлено.
                {% endif %}
            {% else %}
            Объект не найден.
            {% endif %}
            <hr/>
            {% if '1' == is_admin %}
            <a href="/getstats/" class="btn btn-dark btn-sm active" role="button" aria-pressed="true">
                Новый запрос
            </a>
            {% endif %}
        </p>
{% endblock %}