{% extends 'index.html' %}
{% block content %}
        <br/><br/>
        <div class="alert alert-dark" role="alert">
            <h5>Статистика по запросу</h5>
            {% if '1' == is_admin and '0' == m_table.in_db %}
            <script language="JavaScript">
            function copy2db(p_item) {
                showAlert('Копирование статистики в базу.', 'В процессе...');
                var m_btn = document.getElementById('mdlCloseButton');
                if (m_btn) {
                    m_btn.disabled = true;
                }
                var m_xhr = new XMLHttpRequest();
                m_xhr.open('GET', '/file2db/'+p_item);
                m_xhr.responseType = 'json';
                m_xhr.send();
                m_xhr.onload = function() {
                    if (m_xhr.status == 200) {
                        var m_info = document.getElementById('mdlInfo');
                        if (m_info) {
                            var m_resp = JSON.parse(m_xhr.response);
                            m_info.innerHTML = ' [' + p_item + '] :: ' + m_resp.result;
                            if ('ok' == m_resp.result) {
                                var m_save = document.getElementById('saveButton');
                                if (m_save) {
                                    m_save.hidden = true;
                                }
                            }
                        }
                        if (m_btn) {
                            m_btn.disabled = false;
                        }
                    }
                    else {
                        showAlert('Копирование статистики в базу.', 'Ошибка: ' + m_xhr.statusText);
                        if (m_btn) {
                            m_btn.disabled = false;
                        }
                    }
                }
                m_xhr.onerror = function() {
                    var m_info = document.getElementById('mdlInfo');
                    if (m_info) {
                        m_info.innerHTML = 'Ошибка сохранения.'
                    }
                    if (m_btn) {
                        m_btn.disabled = false;
                    }
                }
            }
        </script>
            <div align="right">
                <input type="button" class="btn btn-dark btn-sm" value="Перенести в базу"
                       datatoggle="modal" datatarget="#mdlWindow"
                       onclick="copy2db('{{ m_table.obj }}')" id="saveButton"
                >
            </div>
            {% endif %}
        </div>
        <p>
            <hr/>
            {% if m_table %}
            <table class="table table-sm">
                <thead class="thead-light">
                    <tr>
                        <th colspan="2" scope="col">
                            Общая информация
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Запрос:</th>
                        <td>{{ m_table.text }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Регион:</th>
                        <td>{{ m_table.area_name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Найдено вакансий:</th>
                        <td>{{ m_table.vacancy_count }}</td>
                    </tr>
                </tbody>
            </table>
            <br/><br/>
            <table class="table table-sm">
                <thead class="thead-light">
                    <tr>
                        <th colspan="2" scope="col">
                            Информация о заработной плате
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Средний уровень:</th>
                        <td>{{ m_table.avg_salary }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Минимальное предложение:</th>
                        <td>{{ m_table.min_salary }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Максимальное предложение:</th>
                        <td>{{ m_table.max_salary }}</td>
                    </tr>
                </tbody>
            </table>
            <br/><br/>
            <h5>Список запрошенных работодателем профессиональных навыков:</h5>
                {% if m_table.skills %}
                <table class="table table-sm">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Профессиональный навык</th>
                            <th scope="col">Количество запросов</th>
                            <th scope="col">Относительный вес</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for x in m_table.skills %}
                        <tr>
                            <th scope="row">{{ x[0] }}</th>
                            <td>{{ x[1] }}</td>
                            <td>{{ "%.2f"|format(x[1] / m_table.total_wgt * 100)}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                Данных не найлено.
                {% endif %}
            {% else %}
            Объект не найден.
            {% endif %}
            <hr/>
            {% if '1' == is_admin %}
            <a href="/getstats/" class="btn btn-dark btn-sm active" role="button" aria-pressed="true">
                Новый запрос
            </a>
            {% endif %}
        </p>
{% endblock %}